:root{
    --white-color: white;
    --black-color: rgb(140, 170, 184);
}

img{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.chess-board{
    position: relative;
    border: 1vmin solid var(--black-color);
    border-radius: 2px;
}

.chess-board,
.chess-board tr,
.chess-board tbody {
    margin: 0;
    padding: 0;
    cursor: grab;
}

.chess-board th,
.chess-board td {
    width: 10.5vmin;
    height: 10.5vmin;
    text-align: center;
    position: relative;
}

.chess-board th {
    color: white;
}

.white-tile{
    background-color: var(--white-color);
}

.black-tile{
    background-color: var(--black-color);
}

.chess-board td:hover {
    background-color: dodgerblue;
}

.available_move {
    box-shadow: inset 0 0 15px 15px rgb(170, 248, 138);
}

.capture_move {
    box-shadow: inset 0 0 15px 15px rgb(226, 133, 133);
}

.blocked_move {
    box-shadow: inset 0 0 15px 15px rgb(138, 138, 138);
}

.selected {
    box-shadow: inset 0 0 15px 15px rgb(218, 228, 132);
}

.new-position, .last-position{
    box-shadow: inset 0 0 15px 15px skyblue;
}

.piece{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
}

.row-label, .col-label-w, .col-label-b {
    position: absolute;
    font-size: 2vmin;
}

.white-tile .col-label-w, .white-tile .col-label-b,
.white-tile .row-label {
    color: var(--black-color);
}

.black-tile .col-label-w, .black-tile .col-label-b,
.black-tile .row-label {
    color: var(--white-color);
}

.col-label-w{
    right: 0.5vmin;
    bottom: 0.25vmin;
}

.col-label-b{
    right: 0.5vmin;
    top: 0.25vmin;
}

.row-label{
    left: 0.5vmin;
    top: 0.25vmin;
}