html,
body {
    background-color: rgb(49, 57, 59);
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --white-color: rgb(235, 235, 235);
    --black-color: rgb(131, 161, 175);
}

table{
    position: relative;
}

table,
tr,
tbody {
    margin: 0;
    padding: 0;
    cursor: grab;
}

th,
td {
    width: 9vmin;
    height: 9vmin;
    text-align: center;
}

th {
    color: white;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: var(--white-color);
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: var(--black-color);
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: var(--black-color);
}

tr:nth-child(even) td:nth-child(even) {
    background-color: var(--white-color);
}

tr:nth-child(odd) td:nth-child(odd):hover {
    background-color: dodgerblue;
}

tr:nth-child(odd) td:nth-child(even):hover {
    background-color: dodgerblue;
}

tr:nth-child(even) td:nth-child(odd):hover {
    background-color: dodgerblue;
}

tr:nth-child(even) td:nth-child(even):hover {
    background-color: dodgerblue;
}

button{
    border-radius: 7px;
    padding: 10px;
    background-color: var(--black-color);
    color: white;
    font-weight: bold;
    border: none;
}

button:hover{
    cursor: pointer;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

#table-container {
    position: relative;
}

#board {
    display: inline-block;
}

#footer{
    margin-top: 50px;
    padding-bottom: 1em;
    text-align: center;
    width: 100%;
    color: #888;
    font-size: small;
}

.available_move {
    box-shadow: inset 0 0 15px 15px rgb(170, 248, 138);
}

.capture_move {
    box-shadow: inset 0 0 15px 15px rgb(226, 133, 133);
}

.blocked_move {
    box-shadow: inset 0 0 15px 15px rgb(138, 138, 138);
}

.selected {
    box-shadow: inset 0 0 15px 15px rgb(218, 228, 132);
}

.piece{
    width: 85%;
    height: 85%;
    position: relative;
}